{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>EMPRESA ZET</title>
		<meta name="author" content="John">
		<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
		<meta name="description" content="Slick Admin Admin UI">
		<meta name="keywords" content="Slick Admin, Admin UI, Admin Dashboard, John">
		<script src="{% static "js/html5-trunk.js" %}"></script>
		<link href="{% static "icomoon/style.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/main.css" %} " rel="stylesheet">
		<link 	href="{% static "css/c3/c3.css" %} " rel="stylesheet">
		<script src="{% static "js/c3/d3.v3.min.js" %}"></script>
		<script src="{% static "js/c3/c3.js" %}"></script>	
	</head>
	<body>
		<header>
			<div class="logo">
				<span>Zet</span>
			</div>
			<div id="optional-dropdown">
				<ul>
					<li>
						<a href="{% url 'inicio' %}">
							<span class="fs1" aria-hidden="true" data-icon="&#xe000;" ></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- Optional Dropdown end -->

			<!-- Search bar start -->
			<div class="custom-search hidden-phone">
				<input type="text" class="search-query">
				<button> <span class="fs1" aria-hidden="true" data-icon="&#xe07f;"></span></button>
			</div>	
			<!-- Search bar end -->

			<!-- Mini navigation start -->
			<div id="mini-nav" class="hidden-phone">
				<ul>
					<li>
						{% if user.is_authenticated %}
						<a href="">
							<span class="text-label">{{user.username}} </span></span>
						</a>
						{% else %}
						<a href="{% url 'login_home' %}">
							<span class="text-label">Iniciar Sesion</span><span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
						</a>
						{% endif %}
						<ul class="user-summary">
							<li>
								<div class="summary">
									<div class="basic-details">
										<h4 class="no-margin">{{user.username}}</h4>
										<h5 class="no-margin">{{user.groups.all.0}}</h5>
										<small>Perú, Lima</small>
									</div>								
								</div>
							</li>
							<li>
								<button class="btn btn-xs btn-danger pull-right" onclick="location.href='{% url 'logout_home' %}' ">Salir</button>
								<span class="clearfix"></span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Mini navigation end -->

		</header>
		<!-- Header end -->
	
		<!-- Main Container start -->
		<div class="main-container">

			<!-- Mian navigation start -->
			<div id="mainnav" class="hidden-phone">
				<ul>
					{% if user.groups.all.0.name == 'jefe_de_inventario' %} 
					<!-- listar Inventario -->
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'inventario' %}">
							<div class="icon">
								<span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
							</div>
							Inventario
						</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'addproveedor' %}">Agregar Proveedor</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'addproducto' %}">Agregar Producto</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'add-area-producto' %}">Agregar Area de Producto</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'add-tipo-producto' %}">Agregar Tipo de Producto</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'add-stock-producto' %}">Agregar Stock de Producto</a>
					</li>
					
					<!--	
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'actualizar-producto' %}">Actualizar Stock Producto</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'deleteproducto' %}">Eliminar Producto</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'actualizar-proveedor' %}">Actualizar Proveedor</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'deleteproveedor' %}">Eliminar Proveedor</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="#">Reportes</a>
					</li> -->
					<!-- Fin Inventario -->
					{% endif %}
					
					<!-- Listar Cajeros -->
					{% if user.groups.all.0.name == 'cajero' %}
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'cajero' %}">
							<div class="icon">
								<span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
							</div>
							Cajero
						</a>
					</li>

					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'venta_cajero' %}">Realizar Pedido</a>
					</li>

					{% endif %}
					<!-- Fin Cajeros -->
					
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'estadisticas' %}">
							<div class="icon">
								<span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
							</div>
							Estadisticas
						</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'es1' %}">Prueba 1</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'es2' %}">Prueba 2</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'es3' %}">Prueba 3</a>
					</li>
					<li class="active">
						<span class="current-arrow">&nbsp;</span>
						<a href="{% url 'es4' %}">Prueba 4</a>
					</li>
				</ul>
			</div>
			<!-- Mian navigation end -->
			<div class="dashboard-wrapper">
			{% block contenido %} {% endblock %}
			</div>
		
		</div>
		<!-- Main Container end -->

		<!-- Scripts -->
		<script src="{% static "js/c3js/c3.js" %}"></script>
		<script src="{% static "js/c3js/d3.v3.min.js" %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		
		<script type="text/javascript">
			$(function() {
			$.fn.raty.defaults.path = 'img';

			$('#rate3').raty({ score: 3 });
			$('#rate5').raty({ score: 5 });
			$('#rate1').raty({ score: 1 });
		});
		</script>
	</body>
</html>