

{% extends 'base.html' %}
{% load staticfiles %}
  
{% block contenido %}

				<!-- Page title start -->
				<div class="row page-title">
					<h2>
						Slick Dashboard 
						<small>
							<ul>
								<li>Home</li>
								<li>/</li>
								<li>Dashboard</li>
								<li>/</li>
								<li>Gallery</li>
							</ul>
						</small>
					</h2>
					<ul class="stats hidden-xs">
						<li class="ruby-red-bg">
							<span class="fs1" aria-hidden="true" data-icon="&#xe042;"></span>
							<div class="details">
								<span class="big">Ireland</span>
								<span class="small">Current Location</span>
							</div>
						</li>
						<li class="light-grey-bg">
							<span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>
							<div class="details">
								<span class="big">$7589</span>
								<span class="small">Todays Sale</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- Page title end -->
					
				<!-- Row start -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header">
								<div class="title">
									<span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span> Image Gallery
								</div>
							</div>
							<div class="widget-body">
								<div class="row gallery">
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://lh3.googleusercontent.com/-2bwVLxkBp4s/UhQgsPWp4sI/AAAAAAAAAow/ONJkUXwK094/w816-h612-no/DSC05914.JPG" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" A room without books is like a body without a soul. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/1044333_568385483212358_1782121117_n.jpg" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" No one can make you feel inferior without your consent. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://lh3.googleusercontent.com/-Ogzm_G380UU/UhQeaYYEmrI/AAAAAAAAAoE/_gkyiYmhvXk/w816-h612-no/DSC05804.JPG" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" A friend is someone who knows all about you and still loves you. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://lh5.googleusercontent.com/-qd7ZXSodT7c/UhQhRkkZK3I/AAAAAAAAApQ/eAAkY4eBc-o/w816-h612-no/DSC05369.JPG" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" To love oneself is the beginning of a lifelong romance. "</p>
											</div>
										</div>
									</div>
								</div>

								<br>

								<div class="row gallery">
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://lh6.googleusercontent.com/-LhWwJaP9mSk/UhQhW7zhkMI/AAAAAAAAApY/eAHZuIH-0IM/w816-h612-no/DSC05362.JPG" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" A room without books is like a body without a soul. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/1010494_564886796895560_2068238558_n.jpg" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" No one can make you feel inferior without your consent. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/999061_578660825518157_175056068_n.jpg" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" A friend is someone who knows all about you and still loves you. "</p>
											</div>
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6">
										<div class="visual">
											<img src="https://lh3.googleusercontent.com/-H4ixNUHonCg/UhQif8DGCyI/AAAAAAAAAqA/wfeWqRnDa-0/w816-h612-no/DSC05123.JPG" alt="Slick Admin"/>
											<div class="mask">
												<h4>Hover Style</h4>
												<p>" To love oneself is the beginning of a lifelong romance. "</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Row end -->

				<!-- Row start -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header">
								<div class="title">
									<span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span> Image Gallery
								</div>
							</div>
							<div class="widget-body">
								<div class="row">
									<div class="col-sm-6 col-md-3">
										<div class="thumbnail">
											<img src="https://lh3.googleusercontent.com/-H4ixNUHonCg/UhQif8DGCyI/AAAAAAAAAqA/wfeWqRnDa-0/w816-h612-no/DSC05123.JPG" alt="Slick Admin" />
											<div class="caption">
												<h3>Thumbnail label</h3>
												<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
												<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="thumbnail">
											<img src="https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/1010494_564886796895560_2068238558_n.jpg" alt="Slick Admin" />
											<div class="caption">
												<h3>Thumbnail label</h3>
												<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
												<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="thumbnail">
											<img src="https://lh6.googleusercontent.com/-LhWwJaP9mSk/UhQhW7zhkMI/AAAAAAAAApY/eAHZuIH-0IM/w816-h612-no/DSC05362.JPG" alt="Slick Admin" />
											<div class="caption">
												<h3>Thumbnail label</h3>
												<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
												<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="thumbnail">
											<img src="https://lh3.googleusercontent.com/-2bwVLxkBp4s/UhQgsPWp4sI/AAAAAAAAAow/ONJkUXwK094/w816-h612-no/DSC05914.JPG" alt="Slick Admin" />
											<div class="caption">
												<h3>Thumbnail label</h3>
												<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
												<p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Row end -->
{% endblock %}