{% extends 'base.html' %}
{% load staticfiles %}
  
{% block contenido %}

				<div class="row page-title">
					<h2>
						Slick Dashboard 
						<small>
							<ul>
								<li>Home</li>
								<li>/</li>
								<li>Dashboard</li>
								<li>/</li>
								<li>Mail</li>
							</ul>
						</small>
					</h2>
					<ul class="stats hidden-xs">
						<li class="ruby-red-bg">
							<span class="fs1" aria-hidden="true" data-icon="&#xe042;"></span>
							<div class="details">
								<span class="big">217</span>
								<span class="small">Inbox</span>
							</div>
						</li>
						<li class="jet-blue-bg">
							<span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>
							<div class="details">
								<span class="big">589</span>
								<span class="small">Sent</span>
							</div>
						</li>
						<li class="light-grey-bg">
							<span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>
							<div class="details">
								<span class="big">95</span>
								<span class="small">Unread</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- Page title end -->
				
				<!-- Row start -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header">
								<div class="title">
									<span class="fs1" aria-hidden="true" data-icon="&#xe040;"></span> Mails
								</div>
							</div>
							<div class="widget-body">
								<table class="table table-condensed table-hover no-margin">
									<thead>
										<tr>
											<th style="width:3%">
												<input type="checkbox" class="no-margin">
											</th>
											<th style="width:17%">
												Sent by
											</th>
											<th style="width:52%" class="hidden-phone">
												Subject
											</th>
											<th style="width:12%" class="right-align-text hidden-phone">
												Labels
											</th>
											<th style="width:15%" class="right-align-text hidden-phone">
												Date
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Michell
											</td>
											<td class="hidden-phone">
												<strong>
													Verify your email
												</strong>
												
												<small class="info-fade">
													Less schemas seamless band
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-info">
													Read
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												15-08-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Dhoni
											</td>
											<td class="hidden-phone">
												<strong>
													Compass, Sass
												</strong>
												<small class="info-fade">
													Methodologies eyeball
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-info">
													Read
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												Valentine
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>Clark</td>
											<td class="hidden-phone">
												<strong>Senior Developer</strong>
												<small class="info-fade">
													Platforms web-enabled cultivat
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-success">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												Valentine
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>Rahul</td>
											<td class="hidden-phone">
												<strong>Bitbucket</strong>
												
												<small class="info-fade">
													Technologies content deploy ROI
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-danger">
													Imp
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												Yesterday
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Johnny
											</td>
											<td class="hidden-phone">
												<strong>
													Statement for December 2012
												</strong>
												<small class="info-fade">
													Models seize 
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-success">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												18-09-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Singh
											</td>
											<td class="hidden-phone">
												<strong>
													You're In!
												</strong>
												<small class="info-fade">
													Tagclouds endwidth; morph; distr
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-danger">
													Imp
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												29-06-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Raju
											</td>
											<td class="hidden-phone">
												<strong>
													Support
												</strong>
												<small class="info-fade">
													Distributed incentivize enabl
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-info">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												29-04-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Baswa
											</td>
											<td class="hidden-phone">
												<strong>
													Statement for December 2012
												</strong>
												<small class="info-fade">
													Models seize 
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-success">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												18-09-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Crazy
											</td>
											<td class="hidden-phone">
												<strong>
													You're In!
												</strong>
												<small class="info-fade">
													Tagclouds endwidth; morph; distr
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-danger">
													Imp
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												29-06-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Sri
											</td>
											<td class="hidden-phone">
												<strong>
													Support
												</strong>
												<small class="info-fade">
													Distributed incentivize enabl
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-info">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												29-04-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>Clark</td>
											<td class="hidden-phone">
												<strong>Senior Developer</strong>
												<small class="info-fade">
													Platforms web-enabled cultivat
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-success">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												Valentine
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>Dravid</td>
											<td class="hidden-phone">
												<strong>Bitbucket</strong>
												
												<small class="info-fade">
													Technologies content deploy ROI
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-danger">
													Imp
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												Yesterday
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Johnny
											</td>
											<td class="hidden-phone">
												<strong>
													Statement for December 2012
												</strong>
												<small class="info-fade">
													Models seize 
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-success">
													New
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												18-09-2013
											</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" class="no-margin">
											</td>
											<td>
												Crazy
											</td>
											<td class="hidden-phone">
												<strong>
													You're In!
												</strong>
												<small class="info-fade">
													Tagclouds endwidth; morph; distr
												</small>
											</td>
											<td class="right-align-text hidden-phone">
												<span class="label label-danger">
													Imp
												</span>
											</td>
											<td class="right-align-text hidden-phone">
												29-06-2013
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- Row end -->

				<!-- Row start -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header">
								<div class="title">
									<span class="fs1" aria-hidden="true" data-icon="&#xe1c5;"></span> Messages
								</div>
							</div>
							<div class="widget-body">
								<ul class="imp-messages">
									<li>
										<img src="img/avatar-1.png" class="avatar" alt="Avatar">
										<div class="message-date">
											<h3 class="date text-info">27</h3>
											<p class="month">Aug</p>
										</div>
										<div class="message-wrapper">
											<h4 class="message-heading">Engineer Johnny  strategize visualize architect</h4>
											<blockquote class="message no-margin">Engineer Johnny  strategize visualize architect Best Admin UI reinvent; Johnny  front-end; world-class ROI disintermediate dynamic, web-Johnny d Slick Admin B2B robust tag. Deliver, benchmark, "benchmark,".
											</blockquote>
											<br>
											<p class="url">
												<span class="fs1 text-info" aria-hidden="true" data-icon="&#xe0c5;"></span>
												<a href="#">Engineer Johnny  strategize visualize</a>
											</p>
										</div>
									</li>
									<li>
										<img src="img/avatar-3.png" class="avatar" alt="Avatar">
										<div class="message-date">
											<h3 class="date text-error">22</h3>
											<p class="month">Aug</p>
										</div>
										<div class="message-wrapper">
											<h4 class="message-heading">Wikis optimize mesh, "tagclouds productize communities</h4>
											<blockquote class="message no-margin">Wikis optimize mesh, "tagclouds productize communities," Slick Admin user-centred, Dashboard best-of-breed user-centric. Convergence functionalities Dashboard deploy brand, "social portals," networks harness.
											</blockquote>
											<br>
											<p class="url">
												<span class="fs1" aria-hidden="true" data-icon="&#xe1b2;"></span>
												<a href="#">Download</a>
											</p>
										</div>
									</li>
									<li>
										<img src="img/avatar-8.png" class="avatar" alt="Avatar">
										<div class="message-date">
											<h3 class="date text-success">19</h3>
											<p class="month">Aug</p>
										</div>
										<div class="message-wrapper">
											<h4 class="message-heading">Ecologies revolutionary; beta-test web-Johnny </h4>
											<blockquote class="message no-margin">Markets Dashboa compelling citizen-media cross-platform Slick Admin, ecologies revolutionary; beta-test web-Johnny revolutionize. Interactive.
											</blockquote>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

{% endblock %}