{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}


<div class="col-md-6" >
	<h2>Venta Total de Productos</h2>
	<form action="" method="post">
		{% csrf_token %}
		{{pedido_producto_form.as_p}}
		<input type="submit" value="Guardar cambios">
	</form>	
</div>

<div class="col-md-6" >
		<div class="row">
			<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
				<div class="title">
					<span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>Lista de las Areas de los Productos
				</div>
				</div>
				<div class="widget-body">
				<div id="dt_example" class="example_alt_pagination">
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">    
					<thead>
						<tr>
							<th style="width:5%">#</th>
							<th style="width:15%">Producto</th>
							<th style="width:15%">Cantidad</th>
						</tr>
					</thead>
					<tbody>
						{% for apro in list_pedido_producto %}
						<tr class="gradeX">
							<td>{{apro.id}}</td>
							<td>{{apro.producto}}</td>
							<td>{{apro.cantidad}}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				</div>
			</div>
			</div>
		</div>
</div>
	
{% endblock %}